body {
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: black;
  font-family: "Poppins", sans-serif;
}

p {
  color: #f6f1e9;
}

nav {
  box-shadow: 0 4px 8px 0 rgb(245, 245, 245);
}

.navbar {
  background-color: black;
  display: flex;
  height: 10%;
}

.navbar__items {
  display: flex;
}

.navbar__brand {
  width: 100px;
  height: 100%;
}

.brand__logo {
  width: 100%;
  height: 100%;
}

.dropbtn {
  background-color: black;
  color: white;
  padding: 5px;
  padding-top: 0;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: gray;
}

hr {
  color: white;
  font-weight: 900;
  font-size: 2rem;
  box-shadow: 0 8px 16px 0 rgb(245, 245, 245);
}

.guidelines {
  background-color: #F1E9E5;
  color: black;
  margin: 0;
  line-height: 2.5;
  font-size: 1.3rem;
  padding: 3%;
}

.nav__item {
  margin: 10px 15px;
}

.nav__link {
  color: white;
  text-decoration: none;
}

.navbar__right {
  display: flex;
}

.signin__button {
  background-color: #dc030f;
  border: 1px solid #dc030f;
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  position: absolute;
  right: 30px;
  top: 5px;
}

.signin__form {
  text-align: center;
  background-color: black;
  color: white;
}

.form__container {
  text-align: center;
  background-color: #f6f1e9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  padding: 5%;
  border-radius: 20px;
  border: 1px solid gray;
  box-shadow: 0 16px 19px 0 rgb(16, 12, 8);
}

.Side_popup {
  position: absolute;
  top: 10%;
  text-align: center;
  width: 30%
}

.side_pop_text {
  background-color: #f5f5f5;
  color: black;
  padding: 1% 1% 1% 0;
  margin: 3% 3% 6% 0;
  border-radius: 0 10px 10px 0;
  box-shadow: 0 10px 16px 0 rgb(16, 12, 8);
}

label {
  font-weight: bold;
}

.signin_title {
  margin-top: 0;
  margin-bottom: 60px;
  font-size: 2rem;
  color: #261C2C;
  font-weight: 900;
}

.facebook {
  padding: 5%;
  color: white;
  background-color: #4267B2;
  margin-top: 15px;
  border-radius: 5px;
}

input {
  border: 1px solid black;
}

.hero__bg__image__container {
  width: 100%;
  height: 75vh;
}

.hero__bg__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__card {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 30%;
}

.Siginin__bg__img__container {
  width: 100%;
  height: 100vh;
}

.Siginin__bg__img {
  width: 100%;
  height: 100%;
}

.Products {
  margin-top: 0px;
}

.product__img__container {
  width: 50%;
  height: 25%;
  float: left;
}

.product__image {
  width: 100%;
  height: 100%;
}

.product__description {
  display: flex;
  flex-direction: column;
  padding-top: 4%;
  gap: 10px;
}

footer {
  background-color: #171717;
  padding: 50px;
}

.footer__container {
  text-align: center;
}

.contact__link {
  text-decoration: none;
  font-size: 21px;
  margin-right: 23px;
}

.COPYRIGHT {
  margin-top: 30px;
  font-size: 14px;
}

.card {
  box-shadow: 0 4px 8px 0 rgb(245, 245, 245);
  transition: 0.3s;
  width: 30%;
  border-radius: 8px;
  margin: 5%;
}

.electronics_product_container {
  display: flex;
  justify-content: center;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgb(245, 245, 245);
}

.container {
  padding: 2px 16px;
}

.PlayStation_specification {
  border: 1px solid gray;
}

.Playstaion {
  display: flex;
  flex-flow: row;
}

.Playstaion_card {
  background-color: white;
  align-self: flex-start;
  position: -webkit-sticky;
  
  position: sticky;
  top: 0;
  bottom: 0;
}

.Playstaion_buttons_container {
  padding: 10% 0 10% 0;
  background-color: white;
}

.Playstaion_buttons {
  padding: 18px 8px;
  margin: 0 20px;
  width: 35%;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
  color: white;
  text-decoration: none;
  display: inline-block;
}

.review {
  border: 1px solid grey;
  padding-left: 3%;
}

a {
  text-decoration: none;
  ;
}

.PlayStation_description {
  text-align: left;
  padding-left: 30px;
}

@media (min-width: 1024px) {
  .navbar {
    height: 10%;
  }

  .hero__bg__image__container {
    width: 100%;
    height: 80vh;
  }

  .hero__card {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    font-size: 1.2rem;
  }

  .Products {
    margin: 6% auto;
  }

  .product__img__container {
    width: 50%;
    height: 30%;
    float: left;
  }

  .product__image {
    width: 100%;
    height: 100%;
  }

  .product__description {
    display: flex;
    flex-direction: column;
    padding-top: 4%;
    gap: 10px;
  }
}
